/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  max-width: 100%;
}
@font-face {
  font-family: 'Lacquer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lacquer Regular'), local('Lacquer-Regular'), url(https://fonts.gstatic.com/s/lacquer/v1/EYqzma1QwqpG4_BBN7iKWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lacquer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lacquer Regular'), local('Lacquer-Regular'), url(https://fonts.gstatic.com/s/lacquer/v1/EYqzma1QwqpG4_BBN7iKWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v11/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevT.ttf) format('truetype');
}
.container {
  font-size: 2rem;
  margin: 0 auto;
  width: 85%;
}
.container .yeezus-logo {
  display: flex;
  justify-content: center;
  background-image: url('https://lh3.googleusercontent.com/proxy/CJk7yx8L4K1FvyC-037_yN_E-z9MIkZpCfLAEij1Rl1AIiFIeUpEBaSdTsFsnvQqTzv8aYVxAvsLHaLVD9aiVCjlomhVYKCG7pTxfvSilD-9dTayr4XFIDA_Xusk7OvD3Piy1JYnBMQ4AMRQYXOWfwBOVTaEuy8');
  margin-bottom: 3%;
}
.container .yeezus-logo img {
  width: 20%;
}
.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: orangered;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.container header nav a {
  text-decoration: none;
  color: black;
}
.container header img {
  height: 10%;
  width: 10%;
  border-radius: 60%;
}
.container .Top-kanye {
  font-size: 5rem;
  font-family: 'Lacquer', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10% 0;
  background-color: beige;
}
.container .Top-kanye img {
  width: 70%;
}
.container .Top-kanye p {
  font-size: 2rem;
  font-family: 'Source Code Pro', monospace;
}
.container .Contact-title h1 {
  font-size: 5rem;
  text-align: center;
  padding-top: 10%;
}
@media (max-width: 500px) {
  .container .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .middle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .bottom-content form {
    display: flex;
    justify-content: center;
  }
}
