/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  max-width: 100%;
}
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('ZCOOL QingKe HuangYou Regular'), local('ZCOOLQingKeHuangYou-Regular'), url(https://fonts.gstatic.com/s/zcoolqingkehuangyou/v5/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mR4jPe4.ttf) format('truetype');
}
.container {
  font-size: 2rem;
  margin: 0 auto;
  width: 90%;
}
.container header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: cyan;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}
.container header nav a {
  text-decoration: none;
  color: gray;
}
.container header img {
  height: 10%;
  width: 10%;
  border-radius: 60%;
}
.container section {
  background: gray;
}
.container section .Einstein-title h1 {
  font-size: 5rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
  padding-top: 5%;
}
.container section .top-img {
  display: flex;
  justify-content: center;
}
.container section .top-img img {
  margin: 2% 1%;
  height: 30%;
  width: 70%;
}
.container section .top-text {
  display: flex;
  justify-content: space-between;
}
.container section .top-text div {
  width: 50%;
}
.container section .top-text ul {
  list-style-type: disc;
  list-style-position: inside;
}
.container section .top-text h2 {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  padding: 2%;
}
.container section .middle-content .Works-title h1 {
  font-size: 5rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
  padding-top: 5%;
}
.container section .middle-content .middle-text {
  display: flex;
}
