// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%;
	max-width: 100%;
	
}

// fonts
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

// variables 

@Cursive-font: 'ZCOOL QingKe HuangYou', cursive;

//markins

.flex-between(){
	display:flex;
	justify-content: space-between; 
}


.container{
	font-size: 2rem;
	margin: 0 auto; 
	width: 90%;

	header{
		width: 100%;
		.flex-between();
		background: cyan;


		nav{
			.flex-between(); 
			width: 80%;  
			align-items:center;


			a{
				text-decoration:none;
				color: gray;
			}// this closes anchor tags
			

		}// this closes nav

		img{
			height: 10%;
			width: 10%;
			border-radius: 60%; 

		}// this closes img


	}// this closes header

	section{

		background: gray;
	
		.Einstein-title{
			
			h1{
				font-size: 5rem;
				font-family: @Cursive-font; 
				text-align: center;
				padding-top: 5%;

				}//this closes h1
		}// this closes Einstein-title

		.top-img{
			display:flex; 
			justify-content:center; 
			img{
				margin: 2% 1%;
				height: 30%; 
				width: 70%; 
			}// this closes img
			
		}// this closes class .top-img

		.top-text{
			.flex-between();

			div{
				width: 50%;
			}

			ul{
				list-style-type: disc;
				list-style-position: inside;
			}

			h2{
				text-align: center;
				font-family: @Cursive-font; 
				padding: 2%;
			}

		}//this closes top-text

		.middle-content{

			.Works-title{
				h1{
				font-size: 5rem;
				font-family: @Cursive-font; 
				text-align: center;
				padding-top: 5%;
				}//this closes h1

			}//this closes works title

			.middle-text{
				display:flex;

			}



		}// this closes middle content

		.Works-title{
			h1{
			font-size: 5rem;
			font-family: @Cursive-font; 
			text-align: center;
			padding-top: 5%;
			}

	}//this closes section


	@media (max-width: 500px){













	}

}// this closes container


