// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 62.5%;
	max-width: 100%;
	background-image: url('https://i.redd.it/wq719omdggg21.jpg'); 
	
}

// fonts
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer|Source+Code+Pro&display=swap');
// variables 
@Kanye-font: 'Lacquer', sans-serif;
@Pro-font: 'Source Code Pro', monospace;


//markins
.flex-between(){
	display:flex;
	justify-content: space-between; 
}

.header-setting(){
	font-size: 5rem;
	text-align: center;
	padding-top: 10%;
}

.media-setting(){
	display:flex;
	flex-direction:column;
	align-items:center;
}
//code starts here // 

.container{
	font-size: 2rem;
	margin: 0 auto; 
	width: 85%;

	.yeezus-logo{
		display:flex; 
		justify-content: center; 
		background-image: url('https://lh3.googleusercontent.com/proxy/CJk7yx8L4K1FvyC-037_yN_E-z9MIkZpCfLAEij1Rl1AIiFIeUpEBaSdTsFsnvQqTzv8aYVxAvsLHaLVD9aiVCjlomhVYKCG7pTxfvSilD-9dTayr4XFIDA_Xusk7OvD3Piy1JYnBMQ4AMRQYXOWfwBOVTaEuy8');
		margin-bottom: 3%; 

		img{
			width: 20%; 
		}// this closes img

	}// this closes yeezus-logo

	header{
		width: 100%;
		.flex-between();
		background:orangered;


		nav{
			.flex-between(); 
			width: 80%;  
			align-items:center;


			a{
				text-decoration:none;
				color: black;
			}// this closes anchor tags
			

		}// this closes nav

		img{
			height: 10%;
			width: 10%;
			border-radius: 60%; 

		}// this closes img


	}// this closes header

	.Top-kanye{
		font-size: 5rem; 
		font-family: @Kanye-font; 
		display:flex; 
		align-items: center;
		flex-direction:column; 
		padding: 10% 0; 
		background-color: beige;
		margin-bottom: 3%; 

		img{
			width: 70%; 
		}// this closes img

		p{
			font-size: 2rem;
			font-family: @Pro-font; 
		}// this closes p
	}// this closes .Top-kanye

	.kanye-info{
		border: 1px solid red; 
		background-color: lightblue;
		display:flex; 
		justify-content: space-around;
		flex-wrap: wrap; 
		align-items: baseline;
		margin-bottom:3%;
		div{
			width: 40%;
			margin-bottom: 4%;
			line-height: 2.5rem;

			&:hover{
				width: 45%;

				h1{
					font-size: 2rem;
				}
			}

			h1{
				font-family: @Kanye-font; 
			}

			img{
				border: 2px solid black;
				width: 80%; 
			}

		}
	}

		.bottom-content{
			background-color: orangered;
		}

		.Contact-title{

			h1{
				.header-setting();
			}// this closes h1
		}// this closes contact title

		@media (max-width: 500px){

			.top-text{
				.media-setting();

				
			}// this closes .toptext

			.middle-text{
				.media-setting();

			}

			.bottom-content{

				form{
					display:flex; 
					justify-content:center;
				}
			}






		}// this closes media query






}// this closes container


